*.suo
.idea
cmake-build-*
Misc/vq_pak/vkquake.pak
Quake/*.dll
Quake/*.o
Quake/history.txt
Quake/id1/
Quake/vkquake
Quake/vkQuake.exe
Quake/vkQuake.res
Shaders/bintoc.exe
Shaders/bintoc.obj
Shaders/Compiled/*spv
vkquake.VC*
Windows/VisualStudio/Build-vkQuake/
